<div class="navbar-0 bg-color1">
    <a class="navbar-1" href="/"><img src='<%= image_url '1.png' %>' ></a>
    <a class="navbar-2" href="/"><img src='<%= image_url '2.png' %>' ></a>
    <a class="navbar-3" href="/"><img src='<%= image_url '3.png' %>' ></a>
    <a class="navbar-4" href="/"><img src='<%= image_url '4.png' %>' ></a>
</div>
