// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-color1 {
  background: #50514F;
}

.navbar-0{
  margin-top:0px;
  width:100%;
  height: 60px;
  padding:0px;
  border:0px;
  font-size: 0px;
}

.navbar-1{
  margin-top: 0px;
  width: 100%;
}

.navbar-1 img{
  margin: 0px;
  width:100%;
  padding:0px;
  border:0px;
  font-size: 0px;
}

.navbar-2 img{
  margin-top: 0px;
  width:100%;
  font-size: 0px;
}

.navbar-3 img{
  margin-top: 0px;
  width:100%
}

.navbar-4 img{
  margin-top: 0px;
  width:100%
}
